/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

:root {
  --card-height: 200px;
  --card-width: 275px;
  --gutter: 15px;
  --total-height: calc(var(--card-height) * 3 + var(--gutter) * 2);
  --total-width: calc(var(--card-width) * 4 + var(--gutter) * 3);
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  background-color: #293c4b;
}

h1 {
  font-size: 30px;
}

#container {
  margin: auto;
  width: var(--total-width);
  height: var(--total-height);
  display: grid;
  grid-template-rows: var(--card-height) var(--card-height) var(--card-height);
  grid-row-gap: var(--gutter);
  grid-template-columns: var(--card-width) var(--card-width) var(--card-width) var(--card-width);
  grid-column-gap: var(--gutter);
}

.card {
  box-shadow: inset 0px 0px 0px 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.card.staged {
  box-shadow: inset 0px 0px 0px 5px black;
}
